@use '@angular/material' as mat;

$light-theme: (
  color: (
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  ),
  typography: Roboto,
  density: 0,
);

$dark-theme: (
  color: (
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
    theme: dark, // Explicitly set dark theme
  ),
  typography: Roboto,
  density: 0,
);

html {
  @include mat.theme($light-theme);
}

.light-theme {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  mat-card {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  table {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  mat-form-field {
    .mat-form-field-outline {
      color: var(--mat-sys-on-surface-variant);
    }
    .mat-input-element {
      color: var(--mat-sys-on-surface);
    }
    .mat-form-field-label {
      color: var(--mat-sys-on-surface-variant);
    }
  }

  mat-select {
    color: var(--mat-sys-on-surface);
  }

  .mat-paginator {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  // Chart.js - upcoming feature
  //canvas {
  //  background-color: var(--mat-sys-surface-container);
  //}
}


.dark-theme {
  @include mat.theme($dark-theme);

  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  mat-card {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  table {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  mat-form-field {
    .mat-form-field-outline {
      color: var(--mat-sys-on-surface-variant);
    }
    .mat-input-element {
      color: var(--mat-sys-on-surface);
    }
    .mat-form-field-label {
      color: var(--mat-sys-on-surface-variant);
    }
  }

  mat-select {
    color: var(--mat-sys-on-surface);
  }

  .mat-elevation-z2 {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }

  .mat-button, .mat-raised-button {
    color: var(--mat-sys-on-primary);
  }

  .mat-paginator {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }

  // Chart.js - upcoming feature
  //canvas {
  //  background-color: var(--mat-sys-surface-container);
  //}
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  margin-right: 8px;
}
